.footer {
  height: 25px;
  background-color: #3b444c;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: right;
}

#backgroundImage {
  position: fixed;
  top: 25px;
  width: 100%;
  min-width: 700px;
}

nav {
  z-index: -1;
}

#welcome {
  color: #FFFFFF;
  position: absolute;
  top: 77px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

form {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: right;
  right: 80px;
  z-index: 1031;
}

#compoundSubmit {
  position: fixed;
  top: 10px;
}

/*After search*/
#compoundResults {
  position: relative;
  top: 60px;
  margin: 10px;
  padding: 25px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, .7);
}

#name {
  font-size: 75px;
}

#compoundDescription {
  position: relative;
  top: 50px;
  padding: 25px;
  margin: 10px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, .7);
}

h2 {
  font-size: 17px;
}

.property {
  font-size: 25px;
  font-weight: bolder;
}